@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
  margin-bottom: 10px;
  align-self: center
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.Cart {
  align-self: flex-end
}

@media screen and (max-width: 769px) and (min-width:680px) {

}

@media screen and (max-width: 679px) {
  
}